<!--
	<a href="Veh_Electrique.html">Voiture Electrique<img src="image/electrique.jpg" width ="350px" height="200px" /> </a>

	 
	 <a href="Veh_Thermique.html">Voiture Thermique<img src="image/thermique.png" width ="400px" height="150px" /> </a>

    </body>
</html>

-->

<!DOCTYPE html>
<html lang="fr">
<head> 
    <title>Location voiture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/choixVoiture.css') }}" />  
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color: #4CAF50;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        
      </button>
      
    </div>
	<a class="navbar-brand" href="#">GSB Location de Véhicule</a>
        <form action="{{path('deconnexion')}}">
            <button href="" style="float:right" type="submit" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-log-out" aria-hidden="false" aria-label="Right Align"></span>
            </button>
        </form>
        <form action ="">
            <button  style="float:right" type="submit" class="btn btn-default btn-lg">Mes reservations</button>
        </form>
	  
   </div>
</nav>

<!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Voiture Electrique </h3>
        <div class="zoom">
            <p>
            <a href="{{path('electrique')}}"><img src="{{ asset('images/electrique.jpg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Veh_Electrique" width="350" height="350" /></a>
            </p>
        </div>
            <h3 class="margin">Voiture Thermique </h3>
            <div class="zoom">
                <p>
                    <a href="{{path('thermique')}}"/><img src="{{ asset('images/thermique.jpeg') }}" class="img-responsive img-circle margin" style="display:inline" alt="Veh_Thermique" width="350" height="350" /><a/>
                </p>
            </div>
    </div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>PPE GSB 2016 </p> 
</footer>

</body>
</html>
