<html>
    <head>
        <meta charset=utf-8" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <style>
            body 
            {
            background: #151515;
            font-family: 'Open Sans';
            font-weight: 300;
            margin-top: 150px;            
            }
        </style>
    </head>
    <body>
        <div class="container">
        <!-- Features Section -->
            <div class="row">                
                <div id="table" class="table-editable">
                    <div class="panel-group">
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Information sur le retour du vehicule
                            </a>
                            </h4>
                            </div>
                            <br>
                            <br>
                            <center>
                                <form action="#" name="retour" role="form" class="form-horizontal" method="post" accept-charset="utf-8">
                                <div class="panel-body">
                                    <i style="font-size:1.8em;" class="glyphicon glyphicon-road"></i>
                                    <br>
                                    <br>
                                    <input type="text" name="kilometrageaApresUtilisation" placeholder="Kilometrage apres utilisation">
                                    <h3 class="page-header"></h3>
                                    <br>
                                    <br>
                                    <i style="font-size:1.8em;" class="glyphicon glyphicon-eye-open"></i>
                                    <br>
                                    Etat du vehicule
                                    <br>
                                    <br>
                                    <input type="radio" name="choix" value="bon"><label for="bon">Bon </label><br />
                                    <input type="radio" name="choix" value="moyen"><label for="moyen">Moyen</label> <br />
                                    <input type="radio" name="choix" value="mauvais"><label for="mauvais"> Mauvais</label> <br />
                                    <h3 class="page-header"></h3>
                                    <br>
                                    <br>
                                    <i style="font-size:1.8em;" class="glyphicon glyphicon-edit"></i>
                                    <br>
                                    <br>
                                    <textarea rows="4" cols="50" placeholder="Frais effectue sur le vehicule (plein de carburant, peage ect.)"></textarea>
                                </div>
                            </center>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>