{% extends '::base.html.twig' %}
{% block head %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Connexion à mon application">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/connexion.css') }}" />
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-xs-12">
    
    <div class="main">
        
            
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
           
            <h1>GSB Car</h1>
            <h2>La gestion de vos voitures en un seul endroit</h2>
            
            {% if(message is defined) %}
            <div class ="erreur">
                <b><FONT color='red'>{{message}}</FONT></b>
            </div>
            {% endif %}                    
            <form action="{{path('connexion')}}" name="login" role="form" class="form-horizontal" method="post" accept-charset="utf-8">
                <div class="form-group">
                <div class="col-md-8"><input name="username" placeholder="Idenfiant" class="form-control" type="text" id="UserUsername"/></div>
                </div> 
                
                <div class="form-group">
                <div class="col-md-8"><input name="password" placeholder="Mot de passe" class="form-control" type="password" id="UserPassword"/></div>
                </div> 
                
                <div class="form-group">
                <div class="col-md-offset-0 col-md-8"><input class="btn btn-success btn btn-success" type="submit" value="Connexion"/></div>
                </div>
            
            </form>
            <p class="credits">Développé par <a href="#" target="_blank">Semih, Nicolas, Valériane</a>.</p>
        </div>
        </div>
        
    </div>
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}