<html>
    <body>
        {% if(message is defined) %}
    <div class ="info">
        <b><FONT color='blue'>{{message}}</FONT></b>
    </div>
{% endif %} 

It's ok !
    </body>

<a href="{{ path('deconnexion') }}">Deconnexion</a>
</html>