body {
    background: #151515;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 150px;
}
.main {
    background:url('../images/voiture.jpg') right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
    background-color: white;
    
    margin-top: 30px;
}
@media only screen and (max-width : 992px) {
    .main {
        background: white;
        margin-top: 30px;
    }
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}
form {
    margin-top: 60px;
}
input.form-control , input[type="submit"] , .btn {
    border-radius: 0px;
}
.btn {
    transition: all ease-in-out 0.2s;
}
.credits {
    margin-top: 100px;
    color: #999;
    font-size: 12px;
}
.credits a {
    color: inherit;
}