<html>
    <head>
	<meta charset=utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--<style>
            body 
            {
            background: #151515;
            font-family: 'Open Sans';
            font-weight: 300;
            margin-top: 150px;            
            }
        </style>-->
    </head>
    <body>
    <div class="container">
    <h1>Voiture Thermique Disponible</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marque</th>
                    <th>Modele</th>
                    <th>Immatriculation</th>
                    <th>Kilometrage</th>
                </tr>
            </thead>
            <tbody>
            <div id="content">
                {% for vt in thermique %}
                    {% if vt.getUtilisable == 1 %}                       
                        <div>
                            <tr>
                                <td>{{ vt.getId }}</td>
                                <td>{{ vt.getMarque }}</td>
                                <td>{{ vt.getModele }}</td>
                                <td>{{ vt.getImmatriculation }}</td>
                                <td>{{ vt.getKilometrage }}</td> 
                                <!--<td><a href="{{ path('Reserver_Thermique', {'idVoiture': vt.getId}) }}" type="submit" class="btn btn-success" >Réserver</a></td>-->
                                <td>
                                    <form action="{{ path('Reserver_Thermique') }}">
                                        <input type="hidden" name="idVoiture" value="{{vt.getId}}" />
                                        <input type="hidden" name="destination" value="{{destination}}" />
                                        <input type="hidden" name="debut" value="{{debut}}" />
                                        <input type="hidden" name="fin" value="{{fin}}" /> 
                                        <input type="submit" class="btn btn-success" value="Réserver" />                               
                                    </form>
                                </td>
                            </tr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            </tbody>
        </table>
    </div>
    </body>

</html>